.SheduleWeek{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 23px;
border-collapse: collapse;
text-align: center;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
body{
	background-color: #9FA4E9;
}
.data{
	color:White;
	
}
.hours{
	color:Grey;
	
}
